* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
  
.bar {
  margin: 8px 12px;
}

.clock-widget {
    color: white;
    background-color: darkgrey;
    opacity: 0.95;
    padding: 10px 14px;
    margin: 6px;
    border-radius: 16px;
  }
}

.power-btn {
  background-color: darkgrey;
  opacity: 0.95;
  padding: 4px 8px;
  margin: 6px;
  border-radius: 16px;
  color: #cdd6f4;
  font-size: 18px;
}

.power-menu {
  background-color: #1e1e2e;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 0 10px #00000066;

  button {
    margin: 5px 0;
    padding: 0.5em 1em;
    background-color: #313244;
    color: #cdd6f4;
    border-radius: 5px;
    font-size: 14px;

    &:hover {
      background-color: #45475a;
    }
  }
}
